/OsCoreApplication/obj
/OsCoreApplication/bin
/OsCoreApplication.Authorize/obj
/OsCoreApplication.Authorize/bin
/OsCoreApplication.Common/bin
/OsCoreApplication.Common/obj
/OsCoreApplication.Configuration/bin
/OsCoreApplication.Configuration/obj
/OsCoreApplication.DataLayer/obj
/OsCoreApplication.DataLayer/bin
/OsCoreApplication.Libraries/obj
/OsCoreApplication.Libraries/bin
/OsCoreApplication.Logger/obj
/OsCoreApplication.Logger/bin
/OsCoreApplication.Services/bin
/OsCoreApplication.Services/obj
/OsCoreApplication.ViewModel/bin
/OsCoreApplication.ViewModel/obj
/.vs
