USE [master]
GO
/****** Object:  Database [HOSPITAL]    Script Date: 09/12/2020 1:38:41 PM ******/
CREATE DATABASE [HOSPITAL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HOSPITAL', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\HOSPITAL.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HOSPITAL_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\HOSPITAL_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HOSPITAL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HOSPITAL]
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 09/12/2020 1:38:41 PM ******/
CREATE USER [NT AUTHORITY\SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[TB_CHITIETDKKHAM]    Script Date: 09/12/2020 1:38:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CHITIETDKKHAM](
	[MADK] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [int] NULL,
	[MAPK] [int] NULL,
	[NGAYDANGKY] [datetime] NULL,
	[MATRANGTHAI] [int] NULL,
	[MAHTKCB] [int] NULL,
 CONSTRAINT [PK_TB_CHITIETDKKHAM] PRIMARY KEY CLUSTERED 
(
	[MADK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_HINHTHUCKCB]    Script Date: 09/12/2020 1:38:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_HINHTHUCKCB](
	[MAHTKCB] [int] IDENTITY(1,1) NOT NULL,
	[TENHTKCB] [nvarchar](50) NULL,
 CONSTRAINT [PK_TB_HINHTHUCKCB] PRIMARY KEY CLUSTERED 
(
	[MAHTKCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_KHACHHANG]    Script Date: 09/12/2020 1:38:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](200) NULL,
	[NAMSINH] [char](10) NULL,
	[GIOITINH] [bit] NULL,
	[DIACHI] [nvarchar](200) NULL,
	[DKBHYT] [bit] NULL,
 CONSTRAINT [PK_TB_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PHONGKHAM]    Script Date: 09/12/2020 1:38:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PHONGKHAM](
	[MAPK] [int] IDENTITY(1,1) NOT NULL,
	[TENPK] [nvarchar](200) NULL,
 CONSTRAINT [PK_TB_PHONGKHAM] PRIMARY KEY CLUSTERED 
(
	[MAPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TRANGTHAI]    Script Date: 09/12/2020 1:38:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TRANGTHAI](
	[MATRANGTHAI] [int] IDENTITY(1,1) NOT NULL,
	[TENTRANGTHAI] [nchar](10) NULL,
 CONSTRAINT [PK_TB_TRANGTHAI] PRIMARY KEY CLUSTERED 
(
	[MATRANGTHAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TB_CHITIETDKKHAM] ON 

INSERT [dbo].[TB_CHITIETDKKHAM] ([MADK], [MAKH], [MAPK], [NGAYDANGKY], [MATRANGTHAI], [MAHTKCB]) VALUES (2, 63, 3, CAST(N'2020-08-05T00:00:00.000' AS DateTime), 3, 1)
INSERT [dbo].[TB_CHITIETDKKHAM] ([MADK], [MAKH], [MAPK], [NGAYDANGKY], [MATRANGTHAI], [MAHTKCB]) VALUES (3, 48, 1, CAST(N'2020-06-21T00:00:00.000' AS DateTime), 3, 2)
INSERT [dbo].[TB_CHITIETDKKHAM] ([MADK], [MAKH], [MAPK], [NGAYDANGKY], [MATRANGTHAI], [MAHTKCB]) VALUES (4, 43, 3, CAST(N'2020-09-25T00:00:00.000' AS DateTime), 4, 2)
GO
SET IDENTITY_INSERT [dbo].[TB_CHITIETDKKHAM] OFF
SET IDENTITY_INSERT [dbo].[TB_HINHTHUCKCB] ON 

INSERT [dbo].[TB_HINHTHUCKCB] ([MAHTKCB], [TENHTKCB]) VALUES (1, N'DỊCH VỤ')
INSERT [dbo].[TB_HINHTHUCKCB] ([MAHTKCB], [TENHTKCB]) VALUES (2, N'BHYT')
SET IDENTITY_INSERT [dbo].[TB_HINHTHUCKCB] OFF
SET IDENTITY_INSERT [dbo].[TB_KHACHHANG] ON 

INSERT [dbo].[TB_KHACHHANG] ([MAKH], [TENKH], [NAMSINH], [GIOITINH], [DIACHI], [DKBHYT]) VALUES (41, N'TRAN HUU HẢI DƯƠNG', N'1990      ', 1, N'CN TP HO CHI MINH', 0)
INSERT [dbo].[TB_KHACHHANG] ([MAKH], [TENKH], [NAMSINH], [GIOITINH], [DIACHI], [DKBHYT]) VALUES (42, N'LE HẢI DƯƠNG', N'1960      ', 1, N'PGD PHAM VAN HAI', 0)
INSERT [dbo].[TB_KHACHHANG] ([MAKH], [TENKH], [NAMSINH], [GIOITINH], [DIACHI], [DKBHYT]) VALUES (43, N'NGUYEN DINH CẦN GIỜ', N'1998      ', 0, N'PGD PHAM VAN HAI', 0)
SET IDENTITY_INSERT [dbo].[TB_KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[TB_PHONGKHAM] ON 

INSERT [dbo].[TB_PHONGKHAM] ([MAPK], [TENPK]) VALUES (1, N'CHUYÊN KHOA NỘI')
INSERT [dbo].[TB_PHONGKHAM] ([MAPK], [TENPK]) VALUES (2, N'CHUYEN KHOA NGOẠI')
INSERT [dbo].[TB_PHONGKHAM] ([MAPK], [TENPK]) VALUES (3, N'CHUYÊN KHOA ĐÔNG Y')
SET IDENTITY_INSERT [dbo].[TB_PHONGKHAM] OFF
SET IDENTITY_INSERT [dbo].[TB_TRANGTHAI] ON 

INSERT [dbo].[TB_TRANGTHAI] ([MATRANGTHAI], [TENTRANGTHAI]) VALUES (1, N'Đăng ký   ')
INSERT [dbo].[TB_TRANGTHAI] ([MATRANGTHAI], [TENTRANGTHAI]) VALUES (2, N'Chờ khám  ')
INSERT [dbo].[TB_TRANGTHAI] ([MATRANGTHAI], [TENTRANGTHAI]) VALUES (3, N'Đang khám ')
SET IDENTITY_INSERT [dbo].[TB_TRANGTHAI] OFF
USE [master]
GO
