<div id="page-wrap" class="content-section fullpage-wrap">
    <div class="row margin-leftright-null">
        <div class="container">
            <!--  Contact Info  -->
            <div class="col-md-6 padding-leftright-null">
                <div class="text">
                    <h2 class="margin-bottom-null title line left">Liên hệ với chúng tôi</h2>
                    <div class="padding-onlytop-md">
                        <p class="margin-bottom">
                           Luôn sẵn sàng, bất cứ khi nào bạn cần
                        </p>
                        @{Html.RenderAction("InfoContact", "InfoFooter"); }
                    </div>
                </div>
            </div>
            <!--  END Contact Info -->
            <!--  Input Form  -->
            <div class="col-md-6 padding-leftright-null">
                <div class="text padding-onlybottom-sm padding-md-top-null">
                    <form id="contact-form" class="padding-onlytop-md padding-md-topbottom-null">
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-field" name="name" id="name" type="text" placeholder="Họ tên">
                            </div>
                            <div class="col-md-12">
                                <input class="form-field" name="mail" id="mail" type="text" placeholder="Email/Điện thoại">
                            </div>
                            <div class="col-md-12">
                                <input class="form-field" name="subjectForm" id="subjectForm" type="text" placeholder="Chủ đề">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <textarea class="form-field" name="messageForm" id="messageForm" rows="6" placeholder="Nội dung"></textarea>
                                <div class="submit-area padding-onlytop-sm">
                                    <a id="submit-contact" class="btn-alt">Gửi tin nhắn</a>
                                    <div id="msg" class="message"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--  END Input Form  -->
        </div>
    </div>
    @*<div class="row margin-leftright-null">*@
        <!--  Map. Settings in assets/js/maps.js  -->
        @*<div class="col-md-12 padding-leftright-null map">
            <div id="map"></div>
        </div>*@
        <!--  END Map  -->
    @*</div>*@


    @*<script>
        $("#submit-contact").on("click", function (e) {

            e.preventDefault();
            var name = $("#name");
            var mail = $("#mail");
            var subjectForm = $("#subjectForm");
            var messageForm = $("#messageForm");

            if (name.val() == "") {
                $("#msg").hide().removeClass('success').removeClass('error').addClass('error').html("Nhập họ tên vào đi").fadeIn('slow').delay(5000).fadeOut('slow');
                name.focus();
                return;
            }
        });
    </script>*@
</div>